<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<div class='boardPic'>
    <a href="/decks">
        <img src="https://i.imgur.com/GbXrIkG.png" title="source: imgur.com" />
        <h2>Decks</h2>
    </a>
</div>



<h2>Trucks</h2>


<h2>Wheels</h2>


<h2>Bearings</h2>


<h2>Griptape</h2>


<h2>Hardware</h2>