<div class='userPage'>
    <h1 class='userPagetitle'>
        Build-A-Board
    </h1>
    <div class='userPic'>
        <a href="https://imgur.com/3ggmLxE"><img src="https://i.imgur.com/3ggmLxE.jpg" title="source: imgur.com" />
        </a>
    </div>

    <div class="newUser">
        <a href="/">Build</a> /
        <a href="/users/{{userId}}">My Complete</a> 
    </div>
    <div class="userForm">
        <form action="/users" method="POST">
            <h2>New User</h2>
            <div class="form-input">
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
            <br>
            <div class="form-input">
                <label for="stance">Stance</label>
                <br>
                <select name="stance" id="userStance">
                    <option value=""></option>
                    <option value="regular">Regular</option>
                    <option value="goofy">Goofy</option>
                </select>
            </div>
            <br>
            <div class="button-container flex-end">
                <input class="button primary" type="submit" value="Create User">
                <a href="/users" class="button warning">Cancel</a>
            </div>
        </form>
    </div>


</div>

