<div>

    <h1>Pick a Brand</h1>

    <div class='realLogo'>
        <a href="/decks/show"><img src="https://i.imgur.com/nsHlGie.png" title="source: imgur.com" /><br>Real Skateboards</a>
    </div>
    <div class='flipLogo'>
        <a href="https://imgur.com/fgowifH"><img src="https://i.imgur.com/fgowifH.png" title="source: imgur.com" /><br>Flip Skateboards</a>
    </div>


</div>